myEfficiencies/v08_00_00_43a_BeforeVertexActivity/
myMigrationMatrices/v08_00_00_43a/
myPlots/pdf/v08_00_00_43a_VertexActivity/
mySystematics/v08_00_00_43a_BeforeVertexActivity/
myXSec/v08_00_00_43a_BeforeVertexActivity/
myFiles/*
*.d
*.so
*.pcm
*.root
*__.cxx